*{
	margin: 0;
	padding: 0;
}
body{
	background: #333;
}
header, footer{
	height: 100px;
	width: 100%;
	background: #222;
}
h1{
	text-align: center;
	font-size: 80px;
	color: white;
}
.content{
	width: 1000px;
	height: 1000px;
	margin-left: auto;
	margin-right: auto;
	font-size: 0px;
}
.content *{
	font-size: 16px;
	color: white;
}
.content h2{
	margin: 30px 0 0 20px;
	font-size: 24px;
}
.photo, .description {
	display: inline-block;
	width: 440px;
	height: 600px;
	margin: 30px;
	background: #222;
	vertical-align: top;
}
.description p{
	font-size: 20px;
	padding: 25px;
	text-align: justify;
}
.specifications{
	width: 940px;
	height: 300px;
	margin: 0 30px;
	background: #222;
}
.specifications h3{
	font-size: 25px;
	padding: 20px;
}
.specifications ul{
	text-indent: 2em;
	list-style-type: none;
}
.specifications ul li{
	font-size: 20px;
}
footer p {
	font-size: 25px;
	text-align: center;
	color: white;
	padding: 30px 0
}