body, a, p
	font-size 14px
	font-family arial

body
	position relative
	padding 0
	margin 0
	
a
	text-decoration none
	
header
	text-align right
	padding 12px 20px
	.header-link
		display inline-block
		line-height 14px
		margin 10px 6px
		a
			font-size 13px
			color #404040
	.icon-link
		display inline-block
		width 25px
		height 25px
		background url('sprite.png')
		overflow hidden
		vertical-align -8px
		margin 0 8px
		opacity 0.5
	.img-link
		width 30px
		height 30px
		vertical-align -10px
		border-radius 50%
		background blue

#content
	.logo
		width 269px
		margin-top 133px
		img
			width 269px
			height 95px
		.logo-addon
			color #777
			font-size 16px
			font-weight bold
			position absolute
			top 262px
			left 54.5%
	
	form
		margin 20px 35%
		.input-group
			position relative
			#query-input
				width 100%
				height 26px
				font-size 16px
				text-indent 8px
				outline none
				border 1px solid #ccc
				&:hover
					border 1px solid #AAA
				&:focus
					border 1px solid #8282FF
			#microphone
				position absolute
				top 3px
				right 0
				width 25px
				height 25px
				overflow hidden
				img
					margin-left -233px
					margin-top -59px	

		.button-layer
			display table
			.button
				margin 16px 8px
				padding 7px
				border 1px solid #dcdcdc
				background #eee
				border-radius 2px
				color #444 
				font-size 11px
				font-weight bold
				
	.language-layer
		padding-top 10px
		width 15.5%
		font-size 13px
		color #222
		a
			font-size 13px
			color blue
			margin 0 3px

footer
	height 40px
	background #f2f2f2
	position fixed
	bottom 0
	left 0
	right 0
	border-top 1px solid #e4e4e4
	padding 0 18px	
	.footer-link
		color #666
		font-size 13px
		padding 0 13px
		line-height 40px
		&:hover
			text-decoration underline
	
.center
	margin-left auto
	margin-right auto
	

.left
	float left

.right
	float right
	
.box
	margin-left -100px
	margin-top -59px
	
.alarm
	margin-left -166px
	margin-top -59px
	
.plus
	margin-left -259px
	margin-top -105px